* {
  margin: 0;
}
body {
  background: -moz-linear-gradient(
    left bottom,
    rgb(153, 217, 234) 40%,
    rgb(36, 147, 174) 70%,
    rgb(17, 68, 81) 95%
  );
  background: -ms-linear-gradient(
    left bottom,
    rgb(153, 217, 234) 40%,
    rgb(36, 147, 174) 70%,
    rgb(17, 68, 81) 95%
  );
  background: -o-linear-gradient(
    left bottom,
    rgb(153, 217, 234) 40%,
    rgb(36, 147, 174) 70%,
    rgb(17, 68, 81) 95%
  );
  background: -webkit-linear-gradient(
    left bottom,
    rgb(153, 217, 234) 40%,
    rgb(36, 147, 174) 70%,
    rgb(17, 68, 81) 95%
  );
  background: linear-gradient(
    left bottom,
    rgb(153, 217, 234) 40%,
    rgb(36, 147, 174) 70%,
    rgb(17, 68, 81) 95%
  );
  color: white;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
div {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
h1 {
  text-align: center;
}
nav ul {
  font-size: 0;
  padding: 0;
}
nav ul li {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 10px 0;
  vertical-align: top;
  width: 33%;
}
nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}
nav ul li img {
  height: 50px;
}
nav ul li a {
  color: #ddd;
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#menu {
  background: -moz-linear-gradient(
    left bottom,
    rgb(39, 30, 107) 40%,
    rgb(11, 6, 43) 70%,
    rgb(2, 2, 10) 85%
  );
  background: -ms-linear-gradient(
    left bottom,
    rgb(39, 30, 107) 40%,
    rgb(11, 6, 43) 70%,
    rgb(2, 2, 10) 85%
  );
  background: -o-linear-gradient(
    left bottom,
    rgb(39, 30, 107) 40%,
    rgb(11, 6, 43) 70%,
    rgb(2, 2, 10) 85%
  );
  background: -webkit-linear-gradient(
    left bottom,
    rgb(39, 30, 107) 40%,
    rgb(11, 6, 43) 70%,
    rgb(2, 2, 10) 85%
  );
  background: linear-gradient(
    left bottom,
    rgb(39, 30, 107) 40%,
    rgb(11, 6, 43) 70%,
    rgb(2, 2, 10) 85%
  );
  margin: 0 auto;
  max-width: 1000px;
}
.circulo {
  border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  -webkit-border-radius: 75px;
  background: navy;
}
.cuadrado {
  background-color: #ccc;
  width: 15%;
}
.triangulo {
  border-color: transparent transparent yellow transparent;
  border-style: solid;
  border-width: 40px;
  height: 0;
  width: 0px;
}
